{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>Edit ToDo List</h1>
                {{ form_start(toDoListEditForm) }}
                <div class="form-group">
                    {{ form_label(toDoListEditForm.name, 'Name') }}
                    {{ form_widget(toDoListEditForm.name, {'attr': {'class': 'form-control'}}) }}
                </div>
                <h3>Tasks</h3>
                <ul class="tasks" data-prototype="{{ form_widget(toDoListEditForm.tasks.vars.prototype)|e('html_attr') }}">
                    {% for task in toDoListEditForm.tasks %}
                        <li>{{ form_row(task.name) }}</li>
                        <li>{{ form_row(task.priority) }}</li>
                        <li>{{ form_row(task.deadlineDt) }}</li>
                    {% endfor %}
                </ul>
                <button type="submit" class="btn btn-primary">Save</button>
                {{ form_end(toDoListEditForm) }}
            </div>
        </div>
    </div>
{% endblock %}