{% extends 'layout.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <h1>New ToDo List</h1>
                {{ form_start(toDoListForm) }}
                {# render the task's only field: description #}
                {{ form_row(toDoListForm.name) }}
                <h3>Tasks</h3>
                <ul class="tasks" data-prototype="{{ form_widget(toDoListForm.tasks.vars.prototype)|e('html_attr') }}">
                    {# iterate over each existing tag and render its only field: name #}
                    {% for task in toDoListForm.tasks %}
                        <li>{{ form_row(task.name) }}</li>
                        <li>{{ form_row(task.priority) }}</li>
                        <li>{{ form_row(task.deadlineDt) }}</li>
                    {% endfor %}
                </ul>
                <button type="submit" class="btn btn-primary">Save</button>
                {{ form_end(toDoListForm) }}
            </div>
        </div>
    </div>
    {% block javascripts %}

        {{ parent() }}
        <script type="text/javascript">
            var $collectionHolder;

            // setup an "add a task" link
            var $addTaskLink = $('<a href="#" class="add_task_link">Add a task</a>');
            var $newLinkLi = $('<li></li>').append($addTaskLink);

            jQuery(document).ready(function() {
                // Get the ul that holds the collection of tags
                $collectionHolder = $('ul.tasks');

                // add a delete link to all of the existing tag form li elements
                $collectionHolder.find('li').each(function() {
                    //addTagFormDeleteLink($(this));
                });

                // add the "add a task" anchor and li to the tags ul
                $collectionHolder.append($newLinkLi);

                // count the current form inputs we have (e.g. 2), use that as the new
                // index when inserting a new item (e.g. 2)
                $collectionHolder.data('index', $collectionHolder.find(':input').length);
console.log($collectionHolder.find(':input').length);
                $addTaskLink.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();
console.log("dodavanje form");
                    // add a new tag form (see next code block)
                    addTaskForm($collectionHolder, $newLinkLi);
                });
            });

            function addTaskForm($collectionHolder, $newLinkLi) {
                // Get the data-prototype explained earlier
                var prototype = $collectionHolder.data('prototype');
console.log(prototype);
                // get the new index
                var index = $collectionHolder.data('index');
console.log(index);
                // Replace '__name__' in the prototype's HTML to
                // instead be a number based on how many items we have
                var newForm = prototype.replace(/__name__/g, index);
console.log(newForm);
                // increase the index with one for the next item
                $collectionHolder.data('index', index + 1);

                // Display the form in the page in an li, before the "add a task" link li
                var $newFormLi = $('<li></li>').append(newForm);
                $newLinkLi.before($newFormLi);

                // add a delete link to the new form
                //addTagFormDeleteLink($newFormLi);
            }

            function addTagFormDeleteLink($tagFormLi) {
                var $removeFormA = $('<a href="#">delete this tag</a>');
                $tagFormLi.append($removeFormA);

                $removeFormA.on('click', function(e) {
                    // prevent the link from creating a "#" on the URL
                    e.preventDefault();

                    // remove the li for the tag form
                    $tagFormLi.remove();
                });
            }

        </script>
    {% endblock %}
{% endblock %}