{% extends 'layout.html.twig' %}

{% block sidebar %}{% endblock %}

{% block body %}
<section>
    <h1 class="text-center">Welcome to the Raptor Store</h1>

    <div class="row">
        <div class="col-sm-8 col-sm-offset-2">
            <h2>
                {% if search %}
                    {% if products is not empty %}
                        Products matching "{{ search }}"
                    {% else %}
                        No products found
                    {% endif %}
                {% else %}
                    Today's sweet products:
                {% endif %}
            </h2>
            <table class="table table-striped">
                <thead>
                    <tr>
                        {% set currentOrderDirection = app.request.get('orderDirection') %}
                        {% set orderDirection = currentOrderDirection == null or currentOrderDirection == "DESC" ? "ASC" : "DESC"  %}
                        <th><a href="{{ path('homepage', {'orderBy': 'name', 'orderDirection': orderDirection }) }}">Name</a></th>
                        <th><a href="{{ path('homepage', {'orderBy': 'createdAt', 'orderDirection': orderDirection }) }}">Created</a></th>
                        <th>Total tasks</th>
                        <th>Uncompleted tasks</th>
                    </tr>
                </thead>
                <tbody>
                    {% for toDoList in toDoLists %}
                    <tr>
                        <td>{{ toDoList.name }}</td>
                        <td>{{ toDoList.createdAt|date("m/d/Y") }}</td>
                        <td>{{ toDoList.tasks|length }}</td>    
                        <td>{{ toDoList.tasks|uncompletedTask|length }}</td>    
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    {% block customJavascripts %}
    <script type="text/javascript">
        //alert("Hello");
    </script>
    {% endblock %}
</section>
{% endblock %}



